/*
* @Author: asus
* @Date:   2018-01-18 08:52:52
* @Last Modified by:   asus
* @Last Modified time: 2018-01-20 15:09:59
*/
/* 通用选择器：清除默认样式 */
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	background: #f5f5f5;
	font-size: 14px;
}
.first{
	width: 100%;
	height: 13.77rem;
	background-image: url('../img/screen.png'),linear-gradient(#3ec5ff,#46e5ff);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%  auto,cover;
	overflow: hidden;

}
.first .pos{
	width: 100%;
	height: 1.6rem;
	color: #ffffff;
	font-size: 0.4rem;
	text-align: center;
	line-height: 1.6rem;
}
.first .air{
	width: 2.1rem;
	height: 1.26rem;
	background: #f1ab62;
	border-radius: 0.15rem;
	margin-left: 0.27rem;

}
.first .air h4{
	font-size: 0.28rem;
	color: #fff;
	text-align: center;
	line-height: 0.6rem;

}
.first .air h5{
	font-size: 0.34rem;
	color: #fff;
	text-align: center;
	font-weight: 400;

}
.first .title1{
	width: 100%;
	height: 1.3rem;
	color: #ffffff;
	font-size: 1.3rem;
	text-align: center;
	margin-top: 0.5rem;
}
.first .title2{
	width: 100%;
	height: 0.58rem;
	color: #ffffff;
	font-size: 0.58rem;
	text-align: center;
	margin-top: 0.44rem;
}
.first .title3{
	width: 100%;
	height: 0.36rem;
	color: #ffffff;
	font-size: 0.36rem;
    text-align: center;
	margin-top: 0.32rem;

}
.first .title4{
	width: 100%;
	height: 0.4rem;
	color: #ffffff;
	font-size: 0.4rem;
    text-align: center;
	margin-top: 1.30rem;
}
.second{
	width: 100%;
	height: 2.88rem;
	background: #fff;
	border-bottom: 0.01rem  solid #e4e4e4 ;
}
 .second .today{
 	width: 5.4rem;
 	height: 1.47rem;
 	border-right: 0.03rem solid #e4e4e4;
 	float: left;
    margin-top: 0.72rem;

 }
 .second .tomorrow{
 	width: 5.37rem;
 	height: 1.47rem;
 	float: left;
 	margin-top: 0.72rem;
 }
 .second .today .top{
 	width: 100%;
 	height: 0.6rem;
 }
 .second .today .top .todaytext{
 	float: left;
 	width: 0.95rem;
 	height: 100%;
 	line-height: 0.6rem;
 	margin-left: 0.56rem;
 	font-size: 0.35rem;


 }
  .second .today .top .tem{
 	float: right;
 	width: 1.65rem;
 	height: 100%;
 	line-height: 0.6rem;
 	margin-left: 0.59rem;
 	text-align: right;
 	font-size: 0.35rem;
 	margin-right: 0.56rem;


 }
 .second .today .bottom{
 	width: 100%;
 	height: 1.41rem;
}
  .second .today .bottom .con{
 	float: left;
 	width: 1.9rem;
 	height: 100%;
 	font-size: 0.35rem;
 	line-height: 1.41rem;
 	margin-left: 0.56rem;


 }
 .second .today .bottom .conpic{
 	float: right;
 	width: 0.55rem;
 	height: 0.56rem;
 	line-height: 0.6rem;
 	margin-right: 0.59rem;
 	margin-top: 0.33rem;
 	/* background-image: url('../img/0.png'); */
 	background-size: 100%  auto,cover;

 }
 .second .tomorrow .top{
 	width: 100%;
 	height: 0.6rem;

 }
 .second .tomorrow .top .tomorrowtext{
 	float: left;
 	width: 0.95rem;
 	height: 100%;
 	line-height: 0.6rem;
 	margin-left: 0.56rem;
 	font-size: 0.35rem;


 }
  .second .tomorrow .top .tem{
 	float: right;
 	width: 1.65rem;
 	height: 100%;
 	line-height: 0.6rem;
 	margin-left: 0.59rem;
 	text-align: right;
 	font-size: 0.35rem;
 	margin-right: 0.56rem;


 }
 .second .tomorrow .bottom{
 	width: 100%;
 	height: 1.41rem;
}
  .second .tomorrow .bottom .con{
 	float: left;
 	width: 1.9rem;
 	height: 100%;
 	font-size: 0.35rem;
 	line-height: 1.41rem;
 	margin-left: 0.56rem;


 }
 .second .tomorrow .bottom .conpic{
 	float: right;
 	width: 0.55rem;
 	height: 0.56rem;
 	margin-right: 0.59rem;
 	margin-top: 0.33rem;
 /* 	background-image: url('../img/0.png'); */
 	background-size: 100%  auto,cover;

 }

 .third{
 	width: 100%;
 	height: 2.18rem;
 	background: #fff;
 	margin-top: 0.27rem;
 	border-top: 0.03rem solid #e4e4e4;
 	border-bottom: 0.03rem solid #e4e4e4;
 	padding: 0.88rem 0 0.88rem 0;
/* x方向允许出现滚动条 */
 	overflow-x: auto;
 	overflow-y: hidden;
 }
 /* 滚动条的宽度设置成0 */
 .third::-webkit-scrollbar{
 	  width: 0;
 }
 .third .wrap{
 	width: 100%;
 	height: 100%;
 	/* 弹性盒子 */
 	display: flex;

 }
 .third .wrap .box{
 	width: 1.95rem;
 	height: 100%;
 	flex-shrink: 0;

 }
 .third .wrap .box .time{
 	font-size: 0.24rem;
 	color: #999;
 	text-align: center;

 }
 .third .wrap .box .icon{
 	width: 0.55rem;
 	height: 0.55rem;
 	/* background-image: url('../img/1.png'); */
 	background-size: 100%;
 	margin: 0.57rem auto 0.5rem auto;
 }
 .third .wrap .box .timeTem{
 	font-size: 0.26rem;
 	color: #333;
 	text-align: center;
 }
 .fourth{
 	width: 100%;
 	height: 8.50rem;
 	background: #fff;
 	margin-top: 0.27rem;
 	border-top: 0.03rem solid #e4e4e4;
 	border-bottom: 0.03rem solid #e4e4e4;
 	padding: 0.88rem 0 0.88rem 0;
 
 /* x方向允许出现滚动条 */
 	overflow-x: auto;
 	overflow-y: hidden;
 }
 /* 滚动条的宽度设置成0 */
 .fourth::-webkit-scrollbar{
 	  width: 0;
 }
 .fourth .day{
 	width: 100%;
 	height: 100%;
 	/* 弹性盒子 */
 	display: flex;
 }
 .fourth .day .box{
 	width: 1.95rem;
 	height: 100%;
 	flex-shrink: 0;

 }
 .fourth .day .box .date{
 	font-size: 0.23rem;
 	color: #999;
 	text-align: center;

 }
 .fourth .day .box .weather{
 	font-size: 0.35rem;
 	color: #999;
 	text-align: center;
 	margin-top: 0.56rem;

 }
 .fourth .day .box .photo{
 	width: 0.55rem;
 	height: 0.55rem;
 	background-image: url('../img/1.png');
 	background-size: 100%;
 	margin: 0.57rem auto 0.5rem auto;

 }
 .fourth .day .box .heightr{
 	font-size: 0.3rem;
 	color: #333;
 	text-align: center;
 	margin-top: 0.9rem;

 }
 .fourth .day .box .lower{
 	font-size: 0.3rem;
 	color: #333;
 	text-align: center;
 	margin-top: 0.9rem;

 }
 .fourth .day .box .wind{
 	font-size: 0.35rem;
 	color: #999;
 	text-align: center;
 	margin-top: 1.5rem;

 }
 .fourth .day .box .rank{
 	font-size: 0.35rem;
 	color: #999;
 	text-align: center;
 	margin-bottom: 0.9rem;

 }
 .fifth{
 	width: 100%;
	height: 1.7rem;
	margin-top: 0.27rem;


 }

.fifth .top{
	width: 100%;
	border-bottom: 0.01rem solid #e4e4e4;
	
	
}
.fifth .bottom{
 	width: 100%;
    box-sizing: border-box; 
 
}
.fifth .top .rainy{
 	width: 2.7rem;
	height: 2.7rem;
	background: #fff;
	font-size: 0.30rem;
	color: #4c4c4c;
	text-align: center;
	line-height: 0.8rem;
	float: left;
	border-bottom: 0.01rem solid #e4e4e4;
	border-right: 0.01rem solid #e4e4e4;
}
.fifth .top .cold{
	width: 2.7rem;
	height: 2.7rem;
	background: #fff;
	font-size: 0.30rem;
	color: #4c4c4c;
	text-align: center;
	line-height: 0.8rem;
	float: left;
	border-bottom: 0.01rem solid #e4e4e4;
	border-right: 0.01rem solid #e4e4e4;
}
.fifth .top .sundy{
	width: 2.7rem;
	height: 2.7rem;
	background: #fff;
	font-size: 0.30rem;
	color: #4c4c4c;
	text-align: center;
	line-height: 0.8rem;
	float: left;
	border-bottom: 0.01rem solid #e4e4e4;
	border-right: 0.01rem solid #e4e4e4;
	}
.fifth .top .body{
	width: 2.6rem;
	height: 2.7rem;
	background: #fff;
	font-size: 0.30rem;
	color: #4c4c4c;
	text-align: center;
	line-height: 0.8rem;
	float: left;
	border-bottom: 0.01rem solid #e4e4e4;
}
.fifth .bottom .sport{
	width: 2.7rem;
	height: 2.7rem;
	background: #fff;
	font-size: 0.30rem;
	color: #4c4c4c;
	text-align: center;
	line-height: 0.8rem;
	float: left;
	border-right: 0.01rem solid #e4e4e4;
}
.fifth .bottom .car{
	width: 2.7rem;
	height: 2.7rem;
	background: #fff;
	font-size: 0.30rem;
	color: #4c4c4c;
	text-align: center;
	line-height: 0.8rem;
	float: left;
	border-right: 0.01rem solid #e4e4e4;
}
.fifth .bottom .fish{
	width: 2.7rem;
	height: 2.7rem;
	background: #fff;
	font-size: 0.30rem;
	color: #4c4c4c;
	text-align: center;
	line-height: 0.8rem;
	float: left;
	border-right: 0.01rem solid #e4e4e4;
}
.fifth .bottom .transport{
	width: 2.6rem;
	height: 2.7rem;
	background: #fff;
	font-size: 0.30rem;
	color: #4c4c4c;
	text-align: center;
	line-height: 0.8rem;
	float: left;
}
.city{
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	/* 隐藏 */
	display: none;
	overflow-y: auto;

}
/* .city::-webkit-scrollbar{
	width: 0; */
/* } */
.city .search{
	width: 100%;
	height: 1.3rem;
	border-bottom: 0.03rem solid #e4e4e4;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 10;

}
.city .search .searchBox{
	width: 7.68rem;
	height: 0.86rem;
	border-radius: 0.43rem;
	background: #f2f2f2;
	border: none;
	margin: 0.24rem 0 0 0.36rem;
	padding-left: 0.93rem;
	font-size: 0.32rem;
	color: #808080;
	float: left;

}
.city .search .button{
	float: left;
	font-size: 0.32rem;
	color: #434343;
	width: 1.83rem;
	height: 0.86rem;
	margin-top: 0.24rem;
	text-align: center;
	line-height: 0.86rem;

}
.city .citys {
    width: 100%;
    overflow: hidden;
    padding: 0.34rem;
    box-sizing: border-box; 
    margin-top: 1.2rem;  
}
.city .citys .title{
	width: 100%;
	font-size: 0.36rem;
	color: #444444;
	margin-top: 0.48rem;
}
.city .citys .con{
	width: 100%;
	margin-top: 0.4rem;
	overflow: hidden;
}
.city .citys  .con .box{
	width: 3.17rem;
	height: 0.8rem;
	background: #f2f2f2;
	border-radius: 0.4rem;
	font-size: 0.30rem;
	color: #4c4c4c;
	text-align: center;
	line-height: 0.8rem;
	float: left;
	margin-right: 0.3rem;
	margin-bottom: 0.22rem;
}
.city .citys .con .box:nth-child(3n){
    margin-right: 0;

}
